/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
.footer {
    margin-top: 50px;
    width: 100%;
    height: 45px; /* Set the fixed height of the footer here */
    line-height: 45px; /* Vertically center the text there */
    color: white;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 0;
}

.footer > .container {
    padding-right: 0px;
    padding-left: 0px;
}

code {
    font-size: 80%;
}


/* mi CSS */

.red-text{
    color:red;
}

.enlace:hover {
    text-decoration: none;
    color: #000066;
}

.producto{
    border: 2px solid lightgrey;
}

.producto:hover{
    border: 2px solid orange;
}

.tipoProducto{
    border: 2px solid lightgrey;
}

.tipoProducto:hover{
    border: 2px solid darkblue;
}


.listaCarrito{
    width: 50%;
}

.imagenProducto{
    width: 50%;
}

@media (max-width: 575px) {
    .listaCarrito{
        width: 75%;
    }
}

@media (max-width: 991px) {
    .imagenProducto{
        width: 75%;
    }
}