<!DOCTYPE html>
<html lang="es" ng-app="MyApp">
    <head>
        <title>Trolleyes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="MyController">
        <main role="main" class="container">
            <form>
                <h1 class="text-center">Primer ejercicio AngularJS</h1>

                <div>
                    <div class="row form-group text-center">
                        <div class="col-4 mx-auto">
                            <label class="mt-5">Número de productos</label>
                            <input type="text" ng-model="numeroProductos" name="userInput" id="userInput" class="form-control">
                            <button class="mt-4 mx-2 btn btn-primary" ng-click="productos()">Crear productos</button>
                            <button class="mt-4 mx-2 btn btn-primary" ng-click="limpiarCampo()">Limpiar campo</button>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <div class="row form-group text-center">
                        <div class="col-4 mx-auto">
                            <label class="mt-3">Registros por página</label>
                            <select ng-model="registrosPagina" class="form-control">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group text-center">
                        <div class="col-4 mx-auto">
                            <button class="mt-2 mx-2 btn btn-primary" ng-click="tabla()">Mostrar tabla productos</button>
                            <button class="mt-2 mx-2 btn btn-primary" ng-click="limpiarTabla()" ng-disabled="activar">Limpiar tabla</button>
                        </div>
                    </div>
                </div>

                <div class="mt-5" ng-show="mostrar">
                    <div class="row form-group text-center">
                        <div class="col-4 mx-auto">
                            <label>Número de página</label>
                            <select ng-model="pagina" ng-change="elegirPagina()" class="form-control">
                                <option ng-repeat="option in arrayPages" value="{{(arrayPages.indexOf(option)+1)}}">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group text-center mt-4">
                        <table class="mx-auto">
                            <tr>
                                <th>id</th>
                                <th>código</th>
                                <th>descripción</th>
                                <th>existencias</th>
                                <th>precio</th>
                                <th>foto</th>
                                <th>id_producto</th>
                            </tr>
                            <tr ng-repeat="fila in ajaxDataProductos">
                                <td>{{fila.id}}</td>
                                <td>{{fila.codigo}}</td>
                                <td>{{fila.desc}}</td>
                                <td>{{fila.existencias}}</td>
                                <td>{{fila.precio}}</td>
                                <td>{{fila.foto}}</td>
                                <td>{{fila.id_tipoProducto}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script>
                    var MyModule = angular.module('MyApp', []);
                    MyModule.controller("MyController", ['$scope', '$http', function ($scope, $http) {
                            $scope.pagina = "1";
                            $scope.registrosPagina = "5";
                            $scope.mostrar = false;
                            $scope.activar = true;
                            
                            $scope.tabla = function () {
                                $scope.pagina = "1";
                                $http({
                                    method: 'GET',
                                    withCredentials: true,
                                    url: "http://localhost:8081/trolleyes/json?ob=producto&op=getpage&rpp=" + $scope.registrosPagina + "&page=" + $scope.pagina
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.ajaxDataProductos = response.data.message;
                                }, function (response) {
                                    $scope.ajaxDataProductos = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                                $http({
                                    method: 'GET',
                                    withCredentials: true,
                                    url: "http://localhost:8081/trolleyes/json?ob=producto&op=getcount"
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.numeroRegistros = response.data.message;
                                    $scope.numeroPaginas = Math.ceil($scope.numeroRegistros/$scope.registrosPagina);
                                    $scope.arrayPages = [];
                                    for (var i=1; i<=$scope.numeroPaginas; i++) {
                                        $scope.arrayPages.push(i);
                                    }
                                    if (!$scope.mostrar){
                                        $scope.mostrar = !$scope.mostrar;
                                    }
                                    if ($scope.activar){
                                        $scope.activar = !$scope.activar;
                                    }
                                }, function (response) {
                                    $scope.numeroRegistros = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                            };
                            $scope.elegirPagina = function () {
                                $http({
                                    method: 'GET',
                                    withCredentials: true,
                                    url: "http://localhost:8081/trolleyes/json?ob=producto&op=getpage&rpp=" + $scope.registrosPagina + "&page=" + $scope.pagina
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.ajaxDataProductos = response.data.message;
                                }, function (response) {
                                    $scope.ajaxDataProductos = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                            };
                            $scope.productos = function () {
                                $http({
                                    method: 'POST',
                                    withCredentials: true,
                                    url: "http://localhost:8081/trolleyes/json?ob=producto&op=filldatabase&numprod=" + $scope.numeroProductos
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.ajaxCrearProductos = response.data.message;
                                }, function (response) {
                                    $scope.ajaxCrearProductos = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                            };
                            $scope.limpiarCampo = function () {
                                $scope.numeroProductos = "";
                            };
                            $scope.limpiarTabla = function (){
                                $scope.pagina = "1";
                                $scope.registrosPagina = "5";
                                if ($scope.mostrar){
                                        $scope.mostrar = !$scope.mostrar;
                                }
                                if (!$scope.activar){
                                    $scope.activar = !$scope.activar;
                                }
                            };
                        }]);
        </script>
    </body>
</html>