<header ng-include="'js/app/header.html'"></header>
<main role="main" class="container" style="margin-top: 75px;">

    <h1 class="text-center">Crear Línea</h1>

    <form>
        <div class="col-sm-12 col-lg-8 offset-lg-2 mt-4">
            <label>Cantidad:</label>
            <input type="text" class="form-control" ng-model="cantidad">
        </div>
        <div class="col-sm-12 col-lg-8 offset-lg-2 mt-4">
            <label>Producto:</label>
            <input type="text" class="form-control" ng-model="id_producto">
        </div>
        <div class="col-sm-12 col-lg-8 offset-lg-2 mt-4">
            <label>Factura:</label>
            <input type="text" class="form-control" ng-model="id_factura">
        </div>
        <div class="col-sm-12 col-lg-8 offset-lg-2 mt-4 alert alert-success text-center" role="alert" ng-show="alerta">
            Línea creada correctamente
            <button type="button" class="btn btn-primary mx-2" ng-click="volver()">Volver atrás</button>
        </div>
        <div class="text-center mt-3" ng-show="botones">
            <button type="button" class="btn btn-primary mt-2 mx-2" ng-click="crear()">Crear línea</button>
            <button type="button" class="btn btn-primary mt-2 mx-2" ng-click="volver()">Volver atrás</button>
        </div>
    </form>
</main>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>