<header-component></header-component>
<main role="main" class="container" style="margin-top: 75px;">

    <h1 class="text-center">Borrar línea {{ajaxData.id}}</h1>

    <form ng-show="formulario">
        <div class="row form-group text-center mx-auto mt-5 table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Factura</th>
                </tr>
                <tr>
                    <td class="align-middle">{{ajaxData.id}}</td>
                    <td class="align-middle">{{ajaxData.cantidad}}</td>
                    <td class="align-middle">{{ajaxData.obj_producto.codigo}}</td>
                    <td class="align-middle">{{ajaxData.obj_factura.id}}</td>
                </tr>
            </table>
        </div>

        <div class="text-center mt-3" ng-show="botones">
            <button type="button" class="btn btn-primary mt-2 mx-2" ng-click="borrar()">Borrar línea</button>
            <button type="button" class="btn btn-danger mt-2 mx-2" ng-click="volver()">Volver atrás</button>
        </div>
    </form>

    <div class="col-10 col-lg-8 mx-auto mt-4 alert alert-success text-center" role="alert" ng-show="alerta">
        Línea borrada correctamente
        <button type="button" class="btn btn-primary mx-2" ng-click="volver()">Volver atrás</button>
    </div>
</main>
<footer-component></footer-component>