<header-component></header-component>
<main role="main" class="container margenes">

    <h1 class="text-center"><i class="fas fa-box"></i> Crear Producto</h1>

    <div class="fluid-container">
        <div class="row">
            <ng-form name="form" ng-show="formulario" class="col-10 col-lg-8 mx-auto">
                <div class="form-group">
                    <div class="row">
                        <div class="mx-auto pb-5">
                            <img id="output" ng-src="http://localhost:8081/imagenes/Default.png" style="width: 128px; height: 128px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mx-auto pb-5">
                            <!--ARREGLO EN UNA LINEA DE PREVIEW DE NUEVA FOTO-->
                            <input type="file" file-model="myFile" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" ng-model="foto">
                        </div>
                    </div>
                </div>
                <div class="mt-4 form-group" ng-class="{'has-error': form.codigo.$invalid}">
                    <label>Código:</label>
                    <input type="text" name="codigo" class="form-control" ng-model="codigo" ng-pattern="/^[a-zA-Z0-9]+$/" required>
                    <p ng-show="form.codigo.$invalid && !form.codigo.$pristine" class="help-block red-text">
                        Formato de código inválido.
                    </p>
                </div>
                <div class="mt-4 form-group" ng-class="{'has-error': form.desc.$invalid}">
                    <label>Descripción:</label>
                    <input type="text" name="desc" class="form-control" ng-model="desc" ng-maxlength="50" ng-pattern="/^[a-zA-Z ,.'-]+$/" required>
                    <p ng-show="form.desc.$invalid && !form.desc.$pristine" class="help-block red-text">
                        Formato de descripción inválido.
                    </p>
                </div>
                <div class="mt-4 form-group" ng-class="{'has-error': form.existencias.$invalid}">
                    <label>Existencias:</label>
                    <input type="text" name="existencias" class="form-control" ng-model="existencias" ng-pattern="/^[0-9]+$/" required>
                    <p ng-show="form.existencias.$invalid && !form.existencias.$pristine" class="help-block red-text">
                        Formato de existencias inválido.
                    </p>
                </div>
                <div class="mt-4 form-group" ng-class="{'has-error': form.precio.$invalid}">
                    <label>Precio:</label>
                    <input type="text" name="precio" class="form-control" ng-model="precio" ng-pattern="/^[0-9]+(,[0-9]?[1-9])?$/" required>
                    <p ng-show="form.precio.$invalid && !form.precio.$pristine" class="help-block red-text">
                        Formato de precio inválido.
                    </p>
                </div>
                
                <div class="mt-4 form-group" ng-class="{'has-error': form.obj_tipoProducto.$invalid}">
                    <tipoproducto-selection 
                        class="modal fade" 
                        id="cadd-location-modal" 
                        obj="obj_tipoProducto"
                        on-tipoproducto-set="tipoProductoRefresh(this,false)">                          
                    </tipoproducto-selection>
                    
                    <label>Tipo de producto:</label>
                    <div class="control">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                      data-toggle="modal"
                                      data-target="#cadd-location-modal">
                                    <span class="fas fa-search"></span>
                                </span>
                            </div>
                            <input ng-model="obj_tipoProducto.id"
                                   ng-change="tipoProductoRefresh(this,true)"
                                   aria-describedby="basic-addon2"
                                   class="form-control"
                                   id="obj_tipoProducto"
                                   name="obj_tipoProducto"
                                   type="number"
                                   min="1"
                                   max="100"
                                   ng-pattern="/^[1-9][0-9]?$|^100$/"
                                   required
                                   ng-model-options="{debounce: 1000}">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="tipoproducto/view/{{obj_tipoProducto.id}}">
                                        <span class="p-2 bd-highlight"><i class="fas fa-users fa-1x"></i></span>
                                        Tipo de producto: {{obj_tipoProducto.desc}}
                                    </a>
                                </span>
                            </div>
                        </div>
                        <p ng-show="form.obj_tipoProducto.$invalid && !form.obj_tipoProducto.$pristine"  class="help-block red-text">
                            Id de tipo de producto inválido.
                        </p>
                    </div>
                </div>
                
                <div class="text-center mt-4" ng-show="botones">
                    <button type="button" class="btn btn-primary mt-2 mx-2" ng-disabled="form.$invalid" ng-click="crear()">Crear Producto</button>
                    <button type="button" class="btn btn-danger mt-2 mx-2" ng-click="volver()">Volver atrás</button>
                </div>
            </ng-form>

            <div class="col-10 col-lg-8 mx-auto mt-4 text-center alert alert-success" role="alert" ng-show="correcto">
                Producto creado correctamente
                <button type="button" class="btn btn-primary mx-2" ng-click="volver()">Volver atrás</button>
            </div>
        </div>
    </div>
    
</main>
<footer-component></footer-component>