<header-component></header-component>
<main role="main" class="container" style="margin-top: 50px;">

    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-8 border-bottom text-center mx-auto">
                <h2>Productos</h2>
                <div class="btn-group my-2" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary mb-2" ng-click="atras()">Volver atrás</button>
                </div>
            </div>
        </div>

        <div class="row mt-3" ng-show="registros">
            <div class="col-8 mx-auto border-bottom">
                <h5 class="text-center">Selecciona Registros:</h5>
                <select class="form-control mx-auto col-6 col-lg-4 mb-4" ng-change="update()" ng-model="rpp">
                    <option value="4">4</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                </select>
            </div>
        </div>
        
        <div class="row mt-3" ng-show="registros">
            <div class="col-12 mx-auto">
                <h5 class="text-center">Ordenar:</h5>
                <select class="form-control mx-auto col-6 col-lg-4 mb-3" ng-change="ordenar()" ng-model="order">
                    <option value="producto.id,asc">Id asc</option>
                    <option value="producto.id,desc">Id desc</option>
                    <option value="producto.precio,asc">Precio asc</option>
                    <option value="producto.precio,desc">Precio desc</option>
                    <option value="producto.id_tipoProducto,asc">Tipo asc</option>
                    <option value="producto.id_tipoProducto,desc">Tipo desc</option>
                </select>
            </div>
        </div>

        <div class="row mt-5" ng-show="registros">
            <nav aria-label="paginacion" class="mx-auto">
                <ul class="pagination justify-content-center">
                    <li class="page-item" ng-class="{'disabled':(page == 1)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/1/{{orderURLCliente}}"><span>&laquo;</span></a>
                    </li>
                    <li class="page-item" ng-class="{'disabled':(page == 1)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/{{page - 1}}/{{orderURLCliente}}"><span>&lsaquo;</span></a>
                    </li>
                    <li class="page-item" ng-class="{'disabled':(page == 1)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/1/{{orderURLCliente}}">1</a>
                    </li>

                    <li class="page-item" ng-class="{'active':(p == page), 'disabled':(p === '...')}" ng-repeat="p in list track by $index">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/{{p}}/{{orderURLCliente}}">{{p}}</a>
                    </li>

                    <li class="page-item" ng-class="{'disabled':(page == totalPages), 'ng-hide':(totalPages == 1)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/{{totalPages}}/{{orderURLCliente}}">{{totalPages}}</a>
                    </li>
                    <li class="page-item" ng-class="{'disabled':(page == totalPages)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/{{page--1}}/{{orderURLCliente}}"><span>&rsaquo;</span></a>
                    </li>
                    <li class="page-item" ng-class="{'disabled':(page == totalPages)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/{{totalPages}}/{{orderURLCliente}}"><span>&raquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="row mx-auto text-center mt-3" ng-show="registros">
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 mx-auto my-3" ng-repeat="producto in ajaxData">
                <div class="producto mx-2">
                    <img class="mt-4 w-75" src="/trolleyes-client/public_html/css/gris.jpg" alt="{{producto.foto}}">
                    <p class="mt-3">ID: {{producto.id}}</p>
                    <p>Descripción: {{producto.desc}}</p>
                    <p>Existencias: {{producto.existencias}}</p>
                    <p>Precio: {{producto.precio}}</p>
                    <p class="mb-1" style="text-decoration: underline;">Tipo de producto</p>
                    <p>{{producto.obj_tipoProducto.desc}}</p>
                    <div class="input-group mx-auto mb-3 col-8">
                        <input class="form-control"
                               ng-model="cantidad"
                               ng-disabled="{{producto.existencias}} === 0"
                               type="number"
                               min="0"
                               max="20">
                        <div class="input-group-append">
                            <button class="btn btn-primary" ng-disabled="cantidad === 0" ng-click="add(producto.id, cantidad)"><i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5" ng-show="registros">
            <nav aria-label="paginacion" class="mx-auto">
                <ul class="pagination justify-content-center">
                    <li class="page-item" ng-class="{'disabled':(page == 1)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/1/{{orderURLCliente}}"><span>&laquo;</span></a>
                    </li>
                    <li class="page-item" ng-class="{'disabled':(page == 1)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/{{page - 1}}/{{orderURLCliente}}"><span>&lsaquo;</span></a>
                    </li>
                    <li class="page-item" ng-class="{'disabled':(page == 1)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/1/{{orderURLCliente}}">1</a>
                    </li>

                    <li class="page-item" ng-class="{'active':(p == page), 'disabled':(p === '...')}" ng-repeat="p in list track by $index">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/{{p}}/{{orderURLCliente}}">{{p}}</a>
                    </li>

                    <li class="page-item" ng-class="{'disabled':(page == totalPages), 'ng-hide':(totalPages == 1)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/{{totalPages}}/{{orderURLCliente}}">{{totalPages}}</a>
                    </li>
                    <li class="page-item" ng-class="{'disabled':(page == totalPages)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/{{page--1}}/{{orderURLCliente}}"><span>&rsaquo;</span></a>
                    </li>
                    <li class="page-item" ng-class="{'disabled':(page == totalPages)}">
                        <a class="page-link" href="producto/plistCliente/{{rpp}}/{{totalPages}}/{{orderURLCliente}}"><span>&raquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="row" ng-show="alerta">
            <div class="mx-auto mt-4 alert alert-warning text-center" role="alert">
                No existen productos
            </div>
        </div>

    </div>
</main>
<footer-component></footer-component>