<header ng-include="'js/app/header.html'"></header>
<main role="main" class="container" style="margin-top: 50px;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Productos</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="form-inline">
                <select ng-model="rpp" ng-change="cambiarRegistros()" class="form-control">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                </select>
            </div>
        </div>
    </div> 
    <form>
        <div class="row form-group text-center mt-5">
            <table class="mx-auto">
                <tr>
                    <th>
                        id
                        <button type="button" class="btn" ng-click="ordenar('id', 'asc')">
                            <i class="fas fa-long-arrow-alt-up"></i>
                        </button>
                        <button type="button" class="btn" ng-click="ordenar('id', 'desc')">
                            <i class="fas fa-long-arrow-alt-down"></i>
                        </button>
                    </th>
                    <th>
                        código
                        <button type="button" class="btn" ng-click="ordenar('codigo', 'asc')">
                            <i class="fas fa-long-arrow-alt-up"></i>
                        </button>
                        <button type="button" class="btn" ng-click="ordenar('codigo', 'desc')">
                            <i class="fas fa-long-arrow-alt-down"></i>
                        </button>
                    </th>
                    <th>
                        descripción
                        <button type="button" class="btn" ng-click="ordenar('3', 'asc')">
                            <i class="fas fa-long-arrow-alt-up"></i>
                        </button>
                        <button type="button" class="btn" ng-click="ordenar('3', 'desc')">
                            <i class="fas fa-long-arrow-alt-down"></i>
                        </button>
                    </th>
                    <th>
                        existencias
                        <button type="button" class="btn" ng-click="ordenar('existencias', 'asc')">
                            <i class="fas fa-long-arrow-alt-up"></i>
                        </button>
                        <button type="button" class="btn" ng-click="ordenar('existencias', 'desc')">
                            <i class="fas fa-long-arrow-alt-down"></i>
                        </button>
                    </th>
                    <th>
                        precio
                        <button type="button" class="btn" ng-click="ordenar('precio', 'asc')">
                            <i class="fas fa-long-arrow-alt-up"></i>
                        </button>
                        <button type="button" class="btn" ng-click="ordenar('precio', 'desc')">
                            <i class="fas fa-long-arrow-alt-down"></i>
                        </button>
                    </th>
                    <th>
                        foto
                        <button type="button" class="btn" ng-click="ordenar('foto', 'asc')">
                            <i class="fas fa-long-arrow-alt-up"></i>
                        </button>
                        <button type="button" class="btn" ng-click="ordenar('foto', 'desc')">
                            <i class="fas fa-long-arrow-alt-down"></i>
                        </button>
                    </th>
                    <th>
                        id_producto
                        <button type="button" class="btn" ng-click="ordenar('id_tipoproducto', 'asc')">
                            <i class="fas fa-long-arrow-alt-up"></i>
                        </button>
                        <button type="button" class="btn" ng-click="ordenar('id_tipoproducto', 'desc')">
                            <i class="fas fa-long-arrow-alt-down"></i>
                        </button>
                    </th>
                </tr>
                <tr ng-repeat="fila in ajaxData">
                    <td>{{fila.id}}</td>
                    <td>{{fila.codigo}}</td>
                    <td>{{fila.desc}}</td>
                    <td>{{fila.existencias}}</td>
                    <td>{{fila.precio}}</td>
                    <td>{{fila.foto}}</td>
                    <td>{{fila.id_tipoProducto}}</td>
                </tr>
            </table>
        </div>

        <nav aria-label="paginacion" class="mt-5">
            <ul class="pagination justify-content-center">
                <li class="page-item" ng-class="{'disabled':(page == 1)}">
                    <a class="page-link" href="producto/plist/{{rpp}}/1/{{column}}/{{order}}"><span>&laquo;</span></a>
                </li>
                <li class="page-item" ng-class="{'disabled':(page == 1)}">
                    <a class="page-link" href="producto/plist/{{rpp}}/{{page - 1}}/{{column}}/{{order}}"><span>&lsaquo;</span></a>
                </li>

                <li class="page-item" ng-class="{'active':(p == page), 'disabled':(p === '...')}" ng-repeat="p in list track by $index">
                    <a class="page-link" href="producto/plist/{{rpp}}/{{p}}/{{column}}/{{order}}">{{p}}</a>
                </li>

                <li class="page-item" ng-class="{'disabled':(page == totalPages)}">
                    <a class="page-link" href="producto/plist/{{rpp}}/{{page--1}}/{{column}}/{{order}}"><span>&rsaquo;</span></a>
                </li>
                <li class="page-item" ng-class="{'disabled':(page == totalPages)}">
                    <a class="page-link" href="producto/plist/{{rpp}}/{{totalPages}}/{{column}}/{{order}}"><span>&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </form>
</main>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>