<header ng-include="'js/app/header.html'"></header>
<main role="main" class="container" style="margin-top: 75px;">

    <h1 class="text-center">Remove {{ajaxData.desc}}</h1>

    <form>
        <div class="row form-group text-center mx-auto mt-5 table-responsive" ng-show="botones">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                </tr>
                <tr>
                    <td>{{ajaxData.id}}</td>
                    <td>{{ajaxData.desc}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12 col-lg-8 offset-lg-2 mt-4 text-center alert alert-success" role="alert" ng-show="alerta">
            Tipo de producto borrado correctamente
            <button type="button" class="btn btn-primary mx-2" ng-click="volver()">Volver atrás</button>
        </div>
        <div class="text-center mt-3" ng-show="botones">
            <button type="button" class="btn btn-primary mt-2 mx-2" ng-click="borrar()">Borrar tipo de producto</button>
            <button type="button" class="btn btn-primary mt-2 mx-2" ng-click="volver()">Volver atrás</button>
        </div>
    </form>
</main>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>